//- -----------------------------------------------------------------|
//- HELPERS MIXINS
//- -----------------------------------------------------------------|
//- Contains some templates for common and useful helper mixins.

//- Table of Contents:
//- ---------------------------------|
//- #A : REPEATABLE BLOCKS
//- #B : FORMS: YEAR SELECT
//- #C : FORMS: MONTH SELECT
//- #D : FORMS: NUMBERED DAYS SELECT
//- #E : FORMS: DAYS OF THE WEEK SELECT
//- ---------------------------------|


//- #A : REPEATABLE BLOCKS
//- ---------------------------------|
mixin hlpTimes(limit)
	- for (var i = 1; i <= limit; i++) {
		block
	- }


//- #B : FORMS: YEAR SELECT
//- ---------------------------------|
mixin hlpYears(className, lang)
	- lang = lang || 'en'
	- var getYear = new Date().getFullYear();
	- var yearReset = getYear;
	- var years = [];

	- for (var i = 0; i < 100; i++) {
		- getYear = getYear - i;
		- years.push(getYear);
		- getYear = yearReset;
	- }

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
		else
			option(value='') -- Select
		each year in years
			option(value='#{year}')= year


//- #C : FORMS: MONTH SELECT
//- ---------------------------------|
mixin hlpMonths(className, lang)
	- lang = lang || 'en'
	- var monthsEN = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	- var monthsFR = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
			each month in monthsFR
				option(value='#{month.toLowerCase()}')= month
		else
			option(value='') -- Select
			each month in monthsEN
				option(value='#{month.toLowerCase()}')= month


//- #D : FORMS: NUMBERED DAYS SELECT
//- ---------------------------------|
mixin hlpDays(className, lang)
	- lang = lang || 'en'

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
		else
			option(value='') -- Select
		- for (var i = 1; i < 32; i++) {
			option(value='#{i}')= i
		- }


//- #E : FORMS: DAYS OF THE WEEK SELECT
//- ---------------------------------|
mixin hlpWeekdays(className, lang)
	- lang = lang || 'en'
	- var daysEN = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
	- var daysFR = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
			each day in daysFR
				option(value='#{day.toLowerCase()}')= day
		else
			option(value='') -- Select
			each day in daysEN
				option(value='#{day.toLowerCase()}')= day
