//- -----------------------------------------------------------------|
//- HELPERS MIXINS
//- -----------------------------------------------------------------|
//- Contains some templates for common and useful helper mixins.

//- Table of Contents:
//- ---------------------------------|
//- #A : REPEATABLE BLOCKS
//- #B : FORMS: YEAR SELECT
//- #C : FORMS: MONTH SELECT
//- #D : FORMS: NUMBERED DAYS SELECT
//- #E : FORMS: DAYS OF THE WEEK SELECT
//- #F : RESPONSIVE IMAGES (USING SRCSET & W)
//- #G : RESPONSIVE IMAGES (USING SRCSET & X)
//- #H : RESPONSIVE IMAGES (USING PICTURE)
//- ---------------------------------|


//- #A : REPEATABLE BLOCKS
//- ---------------------------------|
mixin hlpTimes(limit)
	- for (var i = 1; i <= limit; i++) {
		block
	- }


//- #B : FORMS: YEAR SELECT
//- ---------------------------------|
mixin hlpYears(className, lang)
	- lang = lang || 'en'
	- var getYear = new Date().getFullYear();
	- var yearReset = getYear;
	- var years = [];

	- for (var i = 0; i < 100; i++) {
		- getYear = getYear - i;
		- years.push(getYear);
		- getYear = yearReset;
	- }

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
		else
			option(value='') -- Select
		each year in years
			option(value='#{year}')= year


//- #C : FORMS: MONTH SELECT
//- ---------------------------------|
mixin hlpMonths(className, lang)
	- lang = lang || 'en'
	- var monthsEN = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	- var monthsFR = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
			each month in monthsFR
				option(value='#{month.toLowerCase()}')= month
		else
			option(value='') -- Select
			each month in monthsEN
				option(value='#{month.toLowerCase()}')= month


//- #D : FORMS: NUMBERED DAYS SELECT
//- ---------------------------------|
mixin hlpDays(className, lang)
	- lang = lang || 'en'

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
		else
			option(value='') -- Select
		- for (var i = 1; i < 32; i++) {
			option(value='#{i}')= i
		- }


//- #E : FORMS: DAYS OF THE WEEK SELECT
//- ---------------------------------|
mixin hlpWeekdays(className, lang)
	- lang = lang || 'en'
	- var daysEN = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
	- var daysFR = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];

	select(class='#{className} form-control')
		if lang === 'fr'
			option(value='') -- Choisir
			each day in daysFR
				option(value='#{day.toLowerCase()}')= day
		else
			option(value='') -- Select
			each day in daysEN
				option(value='#{day.toLowerCase()}')= day


//- #F : RESPONSIVE IMAGES (USING SRCSET & W)
//- ---------------------------------|
mixin hlpSrcset(imgSubfolder, imgName, imgAlt, imgClass, imgExt, widthSm, widthMd, widthLg, widthLgst)
	- imgSubfolder = imgSubfolder || ''
	- imgExt = imgExt || '.jpg'
	- widthSm = widthSm || '320'
	- widthMd = widthMd || '640'
	- widthLg = widthLg || '1024'
	- widthLgst = widthLgst || '1800'
	- buildFb = 'images/resp/' + imgSubfolder + imgName + imgExt
	- buildSm = 'images/resp/' + imgSubfolder + imgName + '-sm'  + imgExt + ' ' + widthSm + 'w'
	- buildMd = 'images/resp/' + imgSubfolder + imgName + '-md' + imgExt + ' ' + widthMd + 'w'
	- buildLg = 'images/resp/' + imgSubfolder + imgName + '-lg' + imgExt + ' ' + widthLg + 'w'
	- buildLgst = 'images/resp/' + imgSubfolder + imgName + '-lgst' + imgExt + ' ' + widthLgst + 'w'

	img(
		src='#{buildFb}'
		alt='#{imgAlt}'
		class='#{imgClass}'
		srcset='#{buildSm}, #{buildMd}, #{buildLg}, #{buildLgst}'
        )


//- #G : RESPONSIVE IMAGES (USING SRCSET & X)
//- ---------------------------------|
mixin hlpSrcsetX(imgSubfolder, imgName, imgAlt, imgClass, imgExt, width1x, width2x, width3x)
	- imgSubfolder = imgSubfolder || ''
	- imgExt = imgExt || '.jpg'
	- width1x = width1x || '320'
	- width2x = width2x || '640'
	- width3x = width3x || '1024'
	- buildFb = 'images/resp/' + imgSubfolder + imgName + imgExt
	- build1x = 'images/resp/' + imgSubfolder + imgName + '-sm' + imgExt + ' 1x'
	- build2x = 'images/resp/' + imgSubfolder + imgName + '-md' + imgExt + ' 2x'
	- build3x = 'images/resp/' + imgSubfolder + imgName + '-lg' + imgExt + ' 3x'

	img(
		src='#{buildFb}'
		alt='#{imgAlt}'
		class='#{imgClass}'
		srcset='#{build1x}, #{build2x}, #{build3x}'
        )


//- #H : RESPONSIVE IMAGES (USING PICTURE)
//- ---------------------------------|
mixin hlpPicture(imgSubfolder, imgName, imgAlt, imgClass, imgExt, widthSm, widthMd, widthLg, widthLgst)
	- imgSubfolder = imgSubfolder || ''
	- imgExt = imgExt || '.jpg'
	- widthSm = widthSm || '320'
	- widthMd = widthMd || '640'
	- widthLg = widthLg || '1024'
	- widthLgst = widthLgst || '1800'
	- buildFb = 'images/resp/' + imgSubfolder + imgName + imgExt
	- buildSm = 'images/resp/' + imgSubfolder + imgName + '-sm' + imgExt
	- buildMd = 'images/resp/' + imgSubfolder + imgName + '-md' + imgExt
	- buildLg = 'images/resp/' + imgSubfolder + imgName + '-lg' + imgExt
	- buildLgst = 'images/resp/' + imgSubfolder + imgName + '-lgst' + imgExt

	picture
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		source(srcset='#{buildLgst}' media='(min-width: #{widthLg}px)')
		source(srcset='#{buildLg}' media='(min-width: #{widthMd}px)')
		source(srcset='#{buildMd}' media='(min-width: #{widthSm}px)')
		<!--[if IE 9]></video><![endif]-->
		img(src='#{buildFb}' alt='#{imgAlt}' class='#{imgClass}')
